{% load static %}
{% load i18n %}
<!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="#">
		            <img src="{% static '' %}img/logo2.png" alt="">
		          </a>
						</div>
						<!-- /footer logo -->

						<p>{% trans "In this section you will find a lot of useful information for you!It's easy to work with a plus and with pleasure! Try ..." %}</p>

						<!-- footer social -->
						<ul class="footer-social">
							<li><a href="{{ setting.facebook }}"><i class="fa fa-facebook"></i></a></li>
							<li><a href="{{ setting.twitter }}"><i class="fa fa-twitter"></i></a></li>
							<li><a href="{{ setting.instagram }}"><i class="fa fa-instagram"></i></a></li>
							<li><a href="http://beltorgmash.com/"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UC0gX8JQHcP_bqZ4EMhnq9fw"><i class="fa fa-youtube"></i></a></li>
						</ul>
						<!-- /footer social -->
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">{% trans "My Account" %}</h3>
						<ul class="list-links">
							<li><a href="{% url 'index' %}">{% trans "My Account" %}</a></li>
							<li><a href="{% url 'user_orders' %}">{% trans "My Orders " %}</a></li>
							<li><a href="{% url 'user_comments' %}">{% trans "My Comments" %}</a></li>
							<li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
							<li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">{% trans "INFORMATION" %}</h3>
						<ul class="list-links">
							<li><a href="{% url 'aboutus' %}">{% trans "About Us" %}</a></li>
							<li><a href="{% url 'contactus' %}">{% trans "Contact Us" %}</a></li>
							<li><a href="{% url 'faq' %}">{% trans "FAQ" %}</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer subscribe -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">{% trans "News portal" %}</h3>
						<p>{% trans "Delivery is carried out on the terms of self-pickup - FCA Baranovichi (according to Incoterms 2010), with shipment, the necessary package of documents is required." %}</p>
						<form>
							<a class="btn-link" href="http://beltorgmash.com/klientam">{% trans "Read more" %}</a>
						</form>
					</div>
				</div>
				<!-- /footer subscribe -->
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This project is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://beltorgmash.com/" target="_blank">T-SHOP</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->

	<script src="{% static '' %}js/bootstrap.min.js"></script>
	<script src="{% static '' %}js/slick.min.js"></script>
	<script src="{% static '' %}js/nouislider.min.js"></script>
	<script src="{% static '' %}js/jquery.zoom.min.js"></script>
	<script src="{% static '' %}js/main.js"></script>