{% extends 'homebase.html' %}
{% load currency %}
{% load i18n %}
{% block title %} {% trans "Order details" %} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
{% block head %}
<style>
.animated-button {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(30, 255, 188, 1);
  background: rgba(255, 255, 255, 1);
  transition: color .3s, background .5s;
}
.animated-button:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, rgba(30, 255, 188, 1) 25%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(30, 255, 188, 1) 50%, rgba(30, 255, 188, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
  background-size: 10px 10px;
  color: #FF50E5;
}

.animated-button_1 {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: green;
  background: rgba(255, 255, 255, 1);
  transition: color .3s, background .5s;
}
.animated-button_1:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, green 25%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, green 50%, green 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
  background-size: 10px 10px;
  color: yellow;
}

.animated-button_2 {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: red;
  background: rgba(255, 255, 255, 1);
  transition: color .3s, background .5s;
}
.animated-button_2:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, red 25%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, red 50%, red 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
  background-size: 10px 10px;
  color: indigo;
}

@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}
</style>
{% endblock %}
{% block body %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                <li class="active">{% trans "Order details" %}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3">
                    {% include 'user_panel.html' %}
                </div>

                <div class="col-md-9">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">{% trans "Order details" %}</h3>
                        </div>

                        <table class="shopping-cart-table table">
                            <tr>
                                <th class="text-left">{% trans "FirstName LastName" %}</th>
                                <td class="text-left">{{ order.first_name}} {{ order.last_name }} </td>
                            </tr>
                            <tr>
                                <th class="text-left">{% trans "Phone" %}</th>
                                <td class="text-left">{{ order.phone}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">{% trans "Address" %}</th>
                                <td class="text-left">{{ order.address}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">{% trans "City" %}</th>
                                <td class="text-left">{{ order.city}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">{% trans "Country" %}</th>
                                <td class="text-left">{{ order.country}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">{% trans "Status" %}</th>
                                <td class="text-left">{{ order.status}}</td>
                            </tr>

                            <tr>
                                <th class="text-left">{% trans "Date" %}</th>
                                <td class="text-left">{{ order.create_at}}</td>
                            </tr>

                            <th class="text-left">{% trans "Information about delivery" %}</th>
                            <td class="text-left">{{ order.adminnote}}</td>


                        </table>

                        <div class="section-title">
                            <h4 class="title">{% trans "Order list" %}</h4>
                        </div>

                        <table class="shopping-cart-table table">
                            <tr>
                                <th class="text-left">{% trans "Id" %} </th>
                                <th class="text-left">{% trans "Product Name" %} </th>
                                <th class="text-left">{% trans "Price" %} </th>
                                <th class="text-left">{% trans "Quantity" %} </th>
                                <th class="text-left">{% trans "Amount" %} </th>
                                <th class="text-left">{% trans "Status" %} </th>
                                <th class="text-left">{% trans "Date" %} </th>
                            </tr>
                            {% for rs in orderitems %}
                                <tr>
                                    <td class="text-left">
                                        <a href="{% url 'product_detail' rs.product_id rs.product.slug %}">
                                            {% if rs.variant.image_id > 0 %}
                                                <img src="{{rs.variant.image }}" alt="" style="height: 50px">
                                            {% else %}
                                                <img src="{{rs.product.image.url}}" alt="" style="height: 50px">
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="text-left">{{ rs.product.title}} {{ rs.variant.size }}   {{ rs.variant.color }}</td>
                                    <td class="text-left">{{ rs.price|currency:request.session.currency }} {{ request.session.currency }} </td>
                                    <td class="text-left">{{ rs.quantity}} </td>
                                    <td class="text-left">{{ rs.amount|currency:request.session.currency }} {{ request.session.currency }} </td>
                                    <td class="text-left">{{ rs.status}} </td>
                                    <td class="text-left">{{ rs.create_at}} </td>
                                </tr>
                            {% endfor %}

                        </table>
                        <table class="shopping-cart-table table">
                            <tr>
                                <th class="text-left"><a class="animated-button" href="/user/export_csv/{{ order.id }}">{% trans "Export to CSV" %} </a></th>
                                <th class="text-center"><a class="animated-button_1" href="/user/export_excel/{{ order.id }}"> {% trans "Export to Excel" %}</a></th>
                                <th class="text-right"><a class="animated-button_2" href="/user/export_pdf/{{ order.id }}"> {% trans "Export to PDF" %}</a></th>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}