{% extends 'homebase.html' %}
{% block title %} Продукты заказов {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Главная</a></li>
				<li class="active">Продукты заказов</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
            <div class="col-md-3">
                {% include 'user_panel.html' %}
            </div>

            <div class="col-md-9">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Список продуктов заказов</h3>
                        </div>



                        <table class="shopping-cart-table table">
                            <tr>
                                <th class="text-center">Номер </th>
                                <th class="text-center">Название продукта </th>
                                <th class="text-center">Цена </th>
                                <th class="text-center">Количество </th>
                                <th class="text-center">Сумма </th>
                                <th class="text-center">Статус </th>
                                <th class="text-center">Дата </th>
                                <th class="text-center">Детали </th>
                            </tr>
                            {% for rs in order_product %}
                                <tr>
                                    <td class="text-center">
                                        <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                                <img src="{{rs.product.image.url }}" height="80">
                                        </a>
                                    </td>
                                    <td class="text-center">{{ rs.product.title}}</td>
                                    <td class="text-center">Br {{ rs.price}} </td>
                                    <td class="text-center">{{ rs.quantity}} </td>
                                    <td class="text-center">Br {{ rs.amount}} </td>
                                    <td class="text-center">{{ rs.status}} </td>
                                    <td class="text-center">{{ rs.create_at}} </td>
                                    <td class="text-center"><a class="primary-btn" href="/user/order_product_detail/{{ rs.id }}/{{ rs.order_id }}"> Детали </a></td>
                                </tr>
                            {% endfor %}

                        </table>

                    </div>

                </div>
            </div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}