{% extends 'homebase.html' %}
{% block title %} Заказ {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Заказ</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

        <Form action="" method="post">
            {% csrf_token %}
            <div class="col-md-6">
              <div class="billing-details">
                            <div class="section-title">
                                <h4 class="title">Информация о доставке</h4>
                            </div>
                            <p><label for="id_first_name">Имя:</label>
                                <input type="text" name="first_name"  value="{{ user.first_name }}" class="input" maxlength="10" required id="id_first_name"></p>
                            <p><label for="id_last_name">Фамилия:</label>
                                <input type="text" name="last_name"  value="{{ user.last_name }}" class="input" maxlength="10" required id="id_last_name"></p>
                            <p><label for="id_address">Адрес:</label>
                                <input type="text" name="address" value="{{ profile.address }}" class="input" maxlength="150" id="id_address"></p>
                            <p><label for="id_phone">Телефон:</label>
                                <input type="text" name="phone"  value="{{ profile.phone }}"  class="input" maxlength="20" id="id_phone"></p>
                            <p><label for="id_city">Город:</label>
                                <select name="city" class="input" id="id_city">
                                    <option value="{{ profile.city }}" selected>{{ profile.city }}</option>
                                    <option value="Moskau">Москва</option>
                                    <option value="Minsk">Минск</option>
                                    <option value="Lida">Лида</option>
                                    <option value="Kiev">Киев</option>
                                    <option value="Warshawa">Варшава</option>
                                    <option value="Sochi">Сочи</option>
                                </select></p>
                            <p><label for="id_first_name">Страна:</label>
                                <input type="text" name="country" class="input" id="id_country" value="{{ profile.country }}"></p>
                            <div class="pull-right">
                                <button  type="submit" class="primary-btn">Завершить заказ</button>
                            </div>
                        </div>

            </div>


            <div class="col-md-6">

                <div class="shiping-methods">
                            <div class="section-title">
                                <h4 class="title">Платёжная информация</h4>
                            </div>
                            <p><label for="id_first_name">Итого:</label>
                                <input type="text" name="total" class="input" readonly value="${{ total }}"></p>
                            <p><label for="id_first_name">Имя держателя карты:</label>
                                <input type="text" name="holder" class="input"  value=""></p>
                            <p><label for="id_first_name">Номер кредитной карты:</label>
                                <input type="text" name="number" class="input"  value=""></p>
                            <p><label for="id_first_name">Срок действия кредитной карты:</label>
                                <input type="text" name="ecpdate" class="input"  placeholder="mm/yy"></p>
                            <p><label for="id_first_name">Номер безопасности:</label>
                                <input type="text" name="secnumber" class="input"  value=""></p>
                        </div>

            </div>
        </Form>

            <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Список продуктов в корзине</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Продукт</th>
                                <th class="text-center">Цена</th>
                                <th class="text-center">Количество</th>
                                <th class="text-center">Итого</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for rs in shopcart %}
                                <tr>
                                    <td class="thumb">
                                            <img src="{{rs.product.image.url}}" alt="">
                                    </td>

                                    <td class="details">
                                        <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{rs.product}}</a>
                                    </td>
                                    <td class="price text-center"><strong>
                                        ${{ rs.product.price }}</strong></td>
                                    <td class="qty text-center"><strong>{{rs.quantity}}</strong></td>
                                    <td class="total text-center"><strong class="primary-color">${{ rs.amount }}</strong></td>
                                </tr>

                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Промежуточный итог</th>
                                <th colspan="2" class="sub-total">${{ total }}</th>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Доставка</th>
                                <td colspan="2">Бесплатная доставка</td>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>Итого</th>
                                <th colspan="2" class="total">${{ total }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}